body {
    margin: 40px 0 0 0;
    padding: 0;
    background-color: rgb(60, 50, 60);
    text-align: center;
}

#game-canvas {
    background-color: black;
    image-rendering: pixelated;
    image-rendering: crisp-edges;
    image-rendering: -moz-crisp-edges;
    box-shadow: 8px 8px 8px rgba(0, 0, 0, 0.2);
    margin-top: 20px;
    margin-bottom: 20px;
    margin-right: 20px;
    margin-left: 10%;
    float: left;
}

#score-table {
    margin-top: 20px;
    display: inline-block;
    font-size: 20px;
    color: rgb(65, 133, 167);
    font-family: monospace;
}

#score-table li {
    text-align: center;
    color: saddlebrown;
}

#btns {
    height: 100px;
    background-color: red;
    margin-top: 25%;
}

#btns div {
    height: 100px;
    background-color: blue;
    width: 100px;
    display: inline-block;
}